body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

form {
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 1rem;
  }
}
